body{
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  background-color: black;
  color: white;
}

#gameContainer{
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  align-self: center;
}

.numberBlock{
  font-size: 2.5rem;
  line-height: 150px;
  width: 150px;
  height: 150px;
  background-color: rgb(5, 5, 5);
  border-style: solid;
  border-width: thin;
  border-color: #fdfd96;
  /* align-items: center; */
  display: flex;
  align-items: center;
}

.numberBlock div{
  border-radius: 10%;
  height: 90%;
  width: 90%;
  margin: auto;
  /* background-color: #00ffff; */
  /* color: white; */
}